<div class='input'>
    <label 
        class='input__label{{#if this.className}} {{this.className}}{{/if}}' 
        for='{{this.id}}'
    >
        {{this.label}}
    </label>
    <input 
        class='input__input{{#if this.className}} {{this.className}}{{/if}}' 
        value='{{this.value}}' 
        type='{{this.type}}' 
        name='{{this.name}}' 
        id='{{this.id}}'
    />
</div>